# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.suo
*.userprefs
*.DS_Store
*.sln.docstates

# Database & generated data
Data/

# Tools or libraries
packages/
*.dll
!OpenCvSharpExtern.dll
!opencv_videoio_ffmpeg4130_64.dll
